/*universal selector applies css declarations to everything, guantees styles will be overwritten
may have to reduce put this first rule in your print css.*/
* {
  background:transparent; !important
  color: black;
  font-size: 12pt;
  font-family:serif;
}


  a {
    color: black;
  }


h1 {
  font-size: 12pt;
  display: none;
}

h2 {
  font-size: 14pt;
  margin: 0;
}

ul {
  margin-top: 0;
}

h3, h3~p {
  margin: 0;
}

@page {
margin: 0.4in;
}

article {
  position: relative;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

nav, #awards, #honors, #work-samples {
  display: none;
}

div.contact {
  float: right;
}

#education {
  margin-bottom: 0.2in;
}









/* note
background,
background: transparent; (otherwise it will draw too much ink)

text
on a black and white printer, colors can appear inrgayscale

use print units
font-size: 12pt;
border: 1pt solid black;

for invisible elements (whitespace) use inches , cm or millimetes
margin: 0.5in;
padding: 0.25in;

body text needs to be serifs

page margins
@print { margin:0.5in; } this is for half inch!

hide elements that wont show
  nav {
    display: none;
  }
    treats it like it doesn't exist

images

img {
  -webkit-filler: grayscale(1);
  filter: grayscale(1);
}

hidden information
  hover over abbr tag to display its info
  lcick on an a to visit another plage

  visualizing links
    a {
    text-decoration: none;
    }
external links
  we can search for an href value beginnign with http
    a[href^="http"] {
    display: inline;
    }

    a[href^="http"]: after {
    content: " (" attr(href)" ) ";
    }

make sure to link it and use media="print" otherwise it will break!!!!!!
