@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700);

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 0 2.5%;
  background-color: #FCFAFF;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
}

a /*this is the link change the color*/ {
  color: #000;
}

a:visited {
  color: rgb(0, 157, 234);
}

a:hover {
  color: #000;
}

a:active {
  color: rgb(231, 0, 122);
}

nav {
  margin: 20px 0;
}

nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

img.logo {
  margin: 5px;
  padding:5px;
  float: left;
}

h1 {
  font-weight: 700;
  font-size: 0px;
  margin-left: 0;
}

div.contact {
  float: right;
  padding: 5px;
  margin: 5px;
}

div.h2 {
  font-weight: 700;
  font-size: 24px;
}

#education h3,
#education p {
  margin: 0;
}
