/*universal selector applies css declarations to everything, guantees styles will be overwritten
may have to reduce put this first rule in your print css.*/
* {
  background:transparent; !important
  color: black;
  font-size: 12pt;
  font-family:serif;
}


  a {
    color: black;
  }


h1 {
  font-size: 12pt;
  display: none;
}

h2 {
  font-size: 14pt;
  margin: 0;
}

ul {
  margin-top: 0;
}

h3, h3~p {
  margin: 0;
}

@page {
margin: 0.4in;
}

article {
  position: relative;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

nav, #awards, #honors, #work-samples {
  display: none;
}

div.contact {
  float: right;
}

#education {
  margin-bottom: 0.2in;
}
