@media (max-width: 320px) {

body {
  font-family: sans-serif; /*nothing is changing when I write a rule!*/
  font-size: 20px;
}

header img { /*this isn't going to 320px when I make it so here*/
  margin: 0;
  width: 320px;
}

#landing-page nav {
  float: left;
}

#landing-page img{
  width: 320px;
}




}
