@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Montserrat:400,700);

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 20px;
}

header {
  overflow: auto;
  position: relative;
}

header img {
  width: 144px;
  display: inline-block;
  float: left;
}

header nav {
  display: inline-block;
  position: absolute;
  bottom: 10px;
}

header nav ul {
  list-style: none;
  padding-left: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 100px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li:first-child {
  margin-left: 5px;
}

#landing-page img {
  display: block;
  width: 531px;
  margin: 0px auto;
  float: none;
}

#landing-page nav{
  position: static;
  width: 531px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-family: "Monserrat", sans-serif;
  font-size: 32px;
}

h2 {
  font-family: "Monserrat", sans-serif;
}

h3 {
  font-family: "Monserrat", sans-serif;
}

a:hover {
  font-style: italic;
}

div.resume-h1 {
  margin-left: -300px;
}

div.design-description {
  float: left;
  max-width: 792px;
  text-align: left;
  padding-left: 300px;
}

div.imagescontainer {
  margin: auto;
  padding-left: 0;
  max-width: 792px;
}

div.imagescontainer img {
  width: 100%;
}

/* know the width of the image on landing page and then set it in css and then set margins on left and right and display: block; to auto*/

div.contact {
  float: left;
  margin-top: 20px;
}

div.about-photo {
  float: right;
  margin-right: 100px;
  padding: 10px;
}

a {
  color: rgb(0, 157, 234);
}

a:active {
  color: #000;
}

a:visited {
  color: rgb (0, 157, 234);
}
